.profile {
  display: flex;
  width: 100%;
  height: calc(100vh - 74px);
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto auto;
  width: 100%;
  max-width: 410px;
}

.profile__title {
  margin: 0;
  margin-bottom: 123px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.profile__link {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.profile__link:hover {
  opacity: 0.7;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
}

.edit-form__item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0 0 5px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.edit-form__item:nth-child(2) {
  border-bottom: none;
  padding: 17px 0 0;
}

.edit-form__label {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 11px;
  font-weight: 500;
}

.edit-form__error {
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  min-height: 12px;
  overflow: hidden;
  text-align: right;
}

.edit-form__input {
  color: #000;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  border: none;
}

.edit-form__input_incorrect {
  color: #EE3465;
}

.edit-form__input:disabled {
  background-color: transparent;
}

.edit-form__submit-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.edit-form__edit-button {
  cursor: pointer;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  border: none;
  background: transparent;
  padding: 0;
}

.edit-form__edit-button:hover {
  opacity: 0.7;
}

.edit-form__submit-button {
  cursor: pointer;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #FF6838;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.edit-form__submit-button:disabled{
  cursor: not-allowed;
  background: #F8F8F8;
  color: #C2C2C2;
}

.edit-form__submit-button:hover {
  opacity: 0.8;
}

.edit-form__submit-button:enabled:active {
  transform: scale(0.9);
}

.edit-form__submit-error {
  display: block;
  min-height: 14px;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  padding-bottom: 20px;
}

.edit-form__success-message {
  display: block;
  font-size: 21px;
  font-weight: 500;
  color: #2BE080;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .profile__title {
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 600px) {
  .profile__content {
    margin: 70px auto 40px;
    max-width: 260px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .edit-form {
    height: 100%;
  }

  .edit-form__edit-button {
    font-size: 12px;
  }

  .profile__link {
    font-size: 12px;
  }

  .edit-form__submit-container {
    justify-self: flex-end;
  }

  .edit-form__submit-button {
    margin-top: 0px;
    font-size: 12px;
  }
}