.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__content {
  box-sizing: border-box;
  margin: 74px auto 0px;
  width: 100%;
  max-width: 410px;
}

.profile__title {
  margin: 0;
  margin-bottom: 123px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.profile__edit-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-form__item {
  display: flex;
  box-sizing: border-box;
  padding: 0 0 16px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.edit-form__item:nth-child(2) {
  border-bottom: none;
  padding: 17px 0 0;
  margin-bottom: 220px;
}

.edit-form__label {
  color: #000;
  font-size: 11px;
  font-weight: 500;
}

.edit-form__input {
  color: #000;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  border: none;
}

.edit-form__submit-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.edit-form__submit {
  cursor: pointer;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  border: none;
  background: transparent;
  padding: 0;
}

.edit-form__submit:hover {
  opacity: 0.7;
}

.profile__link {
  cursor: pointer;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.profile__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .profile__content {
    margin: 236px auto 0px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .edit-form__item:nth-child(2) {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 600px) {
  .profile__content {
    margin: 70px auto 0px;
    max-width: 260px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .edit-form__item:nth-child(2) {
    margin-bottom: 379px;
  }

  .edit-form__submit {
    font-size: 12px;
  }

  .profile__link {
    font-size: 12px;
  }
}