@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/Inter Web/inter.css');

.app {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  max-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*:focus {
  outline: 2px solid #FF6838;
}

main {
  flex: 1;
}