.search {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 217px;
}

.search__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 70px 0px;
  width: 100%;
  max-width: 1280px;
}

.search__input-block {
  box-sizing: border-box;
  display: flex;
  align-items: start;
  width: 100%;
  height: 50px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.search__icon {
  box-sizing: border-box;
  padding: 6px;
  aspect-ratio: 1/1;
  height: 46px;
  background: url('../../images/search-icon.svg') no-repeat;
  background-position: top;
}

.search__input {
  padding: 0;
  margin: 0 45px;
  width: 100%;
  border: none;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.search__input::placeholder {
  color: #A0A0A0;
}

.search__button {
  width: 34px;
  height: 34px;
  background: url('../../images/find-button.svg') no-repeat;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.7;
}

.search__button:active {
  transform: scale(0.9);
}

.search__toggle {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  column-gap: 12px;
}

.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-switch {
  display: block;
  position: relative;
  border-radius: 20px;
  width: 36px;
  height: 20px;
  background: #EBEBEB;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #F5F5F5;
  top: 6px;
  left: 6px;
  transition: 0.3s;
}

.toggle input[type="checkbox"]:checked+.toggle-switch:after {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}

.toggle input[type="checkbox"]:checked+.toggle-switch {
  background: #2BE080;
}

.toggle-switch:active:after {
  width: 13px;
}

.search__toggle-title {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

@media screen and (max-width: 900px) {
  .search {
    min-height: 246px;
  }

  .search__container {
    padding: 86px 30px 0px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    min-height: 248px;
  }

  .search__container {
    padding: 92px 14px 0px;
  }

  .search__input-block {
    height: 44px;
  }

  .search__icon {
    display: none;
  }

  .search__input {
    padding-top: 6px;
    font-size: 18px;
    text-align: start;
    margin-left: 0;
  }

  .search__toggle {
    margin-top: 42px;
    column-gap: 13px;
  }

  .search__toggle-title {
    font-size: 11px;
    line-height: 1.64;
  }
}