.header {
  display: flex;
  justify-content: center;
  background: #FFF;
  width: 100%;
}

.header_landing {
  background: #465DFF;
}

.header__container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  max-width: 1280px;
  width: 100%;
  height: 74px;
}

.header__logo {
  background: url('../../images/logo.svg');
  height: 38px;
  aspect-ratio: 1 / 1;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  transform: scale(0.9);
}

.header__items {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 30px;
}

.header__item {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;
  color: #FFF;
}

.header__item:hover {
  opacity: 0.7;
}

.header__item-button {
  display: inline;
  padding: 8px 20px;
  background: #2BE080;
  border: none;
  border-radius: 3px;
}

.header__item-button:active {
  transform: scale(0.9);
}

.header__item-button:hover {
  opacity: 0.8;
}

.header__item-button-text {
  color: #000;
}

.burger {
  z-index: 20;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  fill: #000;
  width: 44px;
  height: 44px;
  border: none;
  background: none;
}

.burger input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.burger__icon {
  width: 28px;
}

.icon__line {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  margin-bottom: 7px;
}

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.icon__line:last-of-type {
  margin-bottom: 0px;
}

.burger input[type="checkbox"]:checked~.burger__icon .line1 {
  transform: rotate(45deg);
}

.burger input[type="checkbox"]:checked~.burger__icon .line2 {
  transform: scaleY(0);
}

.burger input[type="checkbox"]:checked~.burger__icon .line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 900px) {
  .header__container {
    padding: 0 30px;
  }

  .burger {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    padding: 0 14px;
  }

  .header__items {
    column-gap: 24px;
  }

  .header__item {
    font-size: 10px;
    line-height: 1.6;
  }

  .header__item-button {
    padding: 5px 12px;
  }

  .burger {
    width: 40px;
    height: 43px;
  }
}