.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FAFAFA;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 79px 70px 0;
  width: 100%;
  max-width: 1280px;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  color: #A0A0A0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__copyright {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.footer__items {
  display: flex;
  column-gap: 20px;
}

.footer__item {
  color: #000;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer__item:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .footer {
    background: #FFF;
  }

  .footer__container {
    padding: 79px 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .footer__container {
    padding: 79px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    padding-bottom: 21px;
  }

  .footer__block {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .footer__copyright {
    color: #A0A0A0;
    font-size: 12px;
  }

  .footer__items {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    padding: 30px 0;
  }

  .footer__item {
    font-size: 12px;
  }
}
